<%= render 'shared/error_messages' %>

<%= f.label :name %>
<div class="input-lg">
<%= f.text_field :name %>
</div>
<%= f.label :email %>
<div class="input-lg">
<%= f.text_field :email %>
</div>
<%= f.label :password %>
<div class="input-lg">
<%= f.password_field :password %>
</div>
<%= f.label :password_confirmation, "Confirmation" %>
<div class="input-lg">
<%= f.password_field :password_confirmation %>
</div>	